main.aux
main.bcf
main.blg
main.glo
main.glsdefs
main.ilg
main.lof
main.lot
main.nlo
main.synctex.gz
main.toc
kaobook.cls
main.bib
main.glg
main.gls
main.idx
main.ind
main.log
main.mw
main.nls
main.run.xml
main.xdy
